@import '~bootstrap/scss/bootstrap';
@import './setting';

a {
  color: #123d6b;
}
.wrap {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  min-height: 100vh;

  button {
    a {
      color: inherit;
    }
  }
}
.cont {
  padding: 0 10px;
  width: 100%;
  @include mq {
    max-width: 1000px;
    margin: 0 auto;
  }

  &--full {
    width: 100%;
    padding: 0;
    @include mq {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
.btn {
  &--link {
    padding: 0;
    a {
      position: relative;
      display: block;
      width: 100%;
      padding: 10px;
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--prev {
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 2px solid;
      border-bottom: 2px solid;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }
  }
  &--next {
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 2px solid;
      border-bottom: 2px solid;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
