@import '~bootstrap/scss/bootstrap';
@import './setting';

a {
  color: #123d6b;
}
.wrap {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  min-height: 100vh;

  button {
    a {
      color: inherit;
    }
  }
}
.cont {
  padding: 0 10px;
  width: 100%;
  @include mq {
    max-width: 1000px;
    margin: 0 auto;
  }

  &--full {
    width: 100%;
    padding: 0;
    @include mq {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
